<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".QuickstartApplicationContext"
        tools:replace="android:name"
        android:requestLegacyExternalStorage="true">

        <activity android:name=".QuickstartRestoreActivity" />
    </application>
</manifest>
