<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

  <!-- 
    MediaSendActivity is abstract. Concrete implementations should be
    declared in the app module's manifest.
  -->
</manifest>
