root = true

[*.kt]
indent_style = space
indent_size = 2
twitter_compose_allowed_composition_locals=LocalExtendedColors

[*.java]
indent_style = space
indent_size = 2

[*.gradle]
indent_style = space
indent_size = 4
