[submodule "isfaserverdefinitions"]
	path = isfaserverdefinitions
	url = git@bitbucket.gdata.de:7999/mob/isfaserverdefinitions.git
[submodule "libtextsecure-java"]
	path = libtextsecure-java
	url = git@bitbucket.gdata.de:7999/mob/libtextsecure-java.git
