[submodule "IsfaServerDefinitions"]
	path = IsfaServerDefinitions
	url = ssh://git@bitbucket.gdata.de:7999/mob/isfaserverdefinitions.git
[submodule "libtextsecure-java"]
	path = libtextsecure-java
	url = ssh://git@bitbucket.gdata.de:7999/mob/libtextsecure-java.git
