<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="network.loki.messenger">

    <uses-sdk tools:overrideLibrary="com.amulyakhare.textdrawable,com.astuetz.pagerslidingtabstrip,pl.tajchert.waitingdots,com.h6ah4i.android.multiselectlistpreferencecompat,android.support.v13,com.davemorrissey.labs.subscaleview,com.tomergoldst.tooltips,com.klinker.android.send_message,com.takisoft.colorpicker,android.support.v14.preference" />

    <permission
        android:name="network.loki.messenger.ACCESS_SECRETS"
        android:label="Access to TextSecure Secrets"
        android:protectionLevel="signature" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <!--
 Loki - Enable again once we have location sharing
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    -->
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.portrait"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="network.loki.messenger.ACCESS_SECRETS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <!-- For conversation 'shortcuts' on the desktop -->
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- Set image as wallpaper -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <!-- Unused permissions that need to be removed -->
    <uses-permission android:name="android.permission.BLUETOOTH" tools:node="remove"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" tools:node="remove" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" tools:node="remove"/>

    <application
        android:name="org.thoughtcrime.securesms.ApplicationContext"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_configuration"
        android:supportsRtl="true"
        android:theme="@style/Session.DarkTheme"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d0c4d13f424a96b9064aa0a9ecafabdb0db4287f" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCSx9xea86GwDKGznCAULE9Y5a8b-TfN9U" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--
 <meta-data android:name="com.google.android.gms.car.application"
               android:resource="@xml/automotive_app_desc" />
        -->
        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="true" />
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="false" />

        <!-- Session -->
        <activity
            android:name="org.thoughtcrime.securesms.loki.redesign.activities.LandingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.thoughtcrime.securesms.loki.redesign.activities.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.thoughtcrime.securesms.loki.redesign.activities.RestoreActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="org.thoughtcrime.securesms.loki.redesign.activities.LinkDeviceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="org.thoughtcrime.securesms.loki.redesign.activities.DisplayNameActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="org.thoughtcrime.securesms.loki.redesign.activities.HomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/Session.DarkTheme.NoActionBar" />
        <activity
            android:name="org.thoughtcrime.securesms.loki.redesign.activities.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Session.DarkTheme.NoActionBar" />
        <activity
            android:name="org.thoughtcrime.securesms.loki.redesign.activities.QRCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.thoughtcrime.securesms.loki.redesign.activities.CreatePrivateChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.thoughtcrime.securesms.loki.redesign.activities.CreateClosedGroupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.thoughtcrime.securesms.loki.redesign.activities.JoinPublicChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="org.thoughtcrime.securesms.loki.redesign.activities.SeedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.thoughtcrime.securesms.loki.redesign.activities.PrivacySettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.thoughtcrime.securesms.loki.redesign.activities.NotificationSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.thoughtcrime.securesms.loki.redesign.activities.ChatSettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.thoughtcrime.securesms.loki.redesign.activities.LinkedDevicesActivity"
            android:screenOrientation="portrait" />
        <!-- Session -->
        <activity
            android:name="org.thoughtcrime.securesms.WebRtcCallActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|fontScale"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.thoughtcrime.securesms.CountrySelectionActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <activity
            android:name="org.thoughtcrime.securesms.InviteActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:parentActivityName="org.thoughtcrime.securesms.ConversationListActivity"
            android:theme="@style/TextSecure.HighlightTheme"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="PsiClass:ConversationListActivity" />
        </activity>
        <activity
            android:name="org.thoughtcrime.securesms.PromptMmsActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="Configure MMS Settings"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="org.thoughtcrime.securesms.DeviceProvisioningActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tsdevice" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.thoughtcrime.securesms.preferences.MmsPreferencesActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <activity
            android:name="org.thoughtcrime.securesms.ShareActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:noHistory="true"
            android:taskAffinity=""
            android:theme="@style/TextSecure.LightNoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="audio/*" />
                <data android:mimeType="image/*" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="video/*" />
                <data android:mimeType="application/*" />
                <data android:mimeType="text/*" />
                <data android:mimeType="*/*" />
            </intent-filter>

            <meta-data
                android:name="android.service.chooser.chooser_target_service"
                android:value=".service.DirectShareService" />
        </activity>
        <activity
            android:name="org.thoughtcrime.securesms.ConversationListActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/TextSecure.LightNoActionBar" />

        <activity-alias
            android:name=".RoutingActivity"
            android:exported="true"
            android:targetActivity="org.thoughtcrime.securesms.loki.redesign.activities.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.sec.minimode.icon.portrait.normal"
                android:resource="@mipmap/ic_launcher" />
            <meta-data
                android:name="com.sec.minimode.icon.landscape.normal"
                android:resource="@mipmap/ic_launcher" />
        </activity-alias>

        <activity
            android:name=".stickers.StickerPackPreviewActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/TextSecure.LightNoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="addstickers"
                    android:scheme="sgnl" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.thoughtcrime.securesms.ConversationListArchiveActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/AndroidManifest_archived_conversations"
            android:launchMode="singleTask"
            android:parentActivityName="org.thoughtcrime.securesms.ConversationListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="PsiClass:ConversationListActivity" />
        </activity>
        <activity
            android:name="org.thoughtcrime.securesms.conversation.ConversationActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Session.DarkTheme.NoActionBar"
            android:parentActivityName="org.thoughtcrime.securesms.loki.redesign.activities.HomeActivity"
            android:windowSoftInputMode="stateUnchanged">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="PsiClass:HomeActivity" />
        </activity>
        <activity
            android:name="org.thoughtcrime.securesms.longmessage.LongMessageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="org.thoughtcrime.securesms.conversation.ConversationPopupActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/TextSecure.LightTheme.Popup"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="org.thoughtcrime.securesms.MessageDetailsActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="Message Details"
            android:screenOrientation="portrait"
            android:theme="@style/Session.DarkTheme"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.thoughtcrime.securesms.GroupCreateActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="org.thoughtcrime.securesms.DatabaseMigrationActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/NoAnimation.Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="org.thoughtcrime.securesms.DatabaseUpgradeActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/NoAnimation.Theme.AppCompat.Light.DarkActionBar" />
        <activity
            android:name="org.thoughtcrime.securesms.ExperienceUpgradeActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="org.thoughtcrime.securesms.PassphraseCreateActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/AndroidManifest__create_passphrase"
            android:launchMode="singleTask"
            android:theme="@style/TextSecure.LightNoActionBar"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="org.thoughtcrime.securesms.PassphrasePromptActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/TextSecure.DarkIntroTheme" />
        <activity
            android:name="org.thoughtcrime.securesms.NewConversationActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@style/TextSecure.LightNoActionBar"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity
            android:name="org.thoughtcrime.securesms.PushContactSelectionActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/AndroidManifest__select_contacts"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.thoughtcrime.securesms.giph.ui.GiphyActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@style/TextSecure.LightNoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.thoughtcrime.securesms.mediasend.MediaSendActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/Session.DarkTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.thoughtcrime.securesms.PassphraseChangeActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/AndroidManifest__change_passphrase" />
        <activity
            android:name="org.thoughtcrime.securesms.VerifyIdentityActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize" />
        <activity
            android:name="org.thoughtcrime.securesms.ApplicationPreferencesActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.thoughtcrime.securesms.registration.WelcomeActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/TextSecure.DarkRegistrationTheme"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="org.thoughtcrime.securesms.RegistrationActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/TextSecure.DarkRegistrationTheme"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="org.thoughtcrime.securesms.registration.CaptchaActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/TextSecure.DarkNoActionBar"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="org.thoughtcrime.securesms.DeviceActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/AndroidManifest__linked_devices" />
        <activity
            android:name="org.thoughtcrime.securesms.stickers.StickerManagementActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/TextSecure.LightTheme"
            android:windowSoftInputMode="stateUnchanged" />
        <activity
            android:name="org.thoughtcrime.securesms.LogSubmitActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/AndroidManifest__log_submit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.thoughtcrime.securesms.MediaPreviewActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:label="@string/AndroidManifest__media_preview"
            android:screenOrientation="portrait"
            android:theme="@style/Session.DarkTheme.SubtitleActionBar"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.thoughtcrime.securesms.MediaOverviewActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Session.DarkTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="org.thoughtcrime.securesms.DummyActivity"
            android:allowTaskReparenting="true"
            android:alwaysRetainTaskState="false"
            android:clearTaskOnLaunch="true"
            android:enabled="true"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="true"
            android:noHistory="true"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.NoDisplay" />
        <activity
            android:name="org.thoughtcrime.securesms.PlayServicesProblemActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@style/TextSecure.DialogActivity" />
        <activity android:name="org.thoughtcrime.securesms.SmsSendtoActivity">
            <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.org.thoughtcrime.securesms.contact" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.thoughtcrime.securesms.webrtc.VoiceCallShare"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:theme="@style/NoAnimation.Theme.BlackScreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.org.thoughtcrime.securesms.call" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.thoughtcrime.securesms.RecipientPreferenceActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@style/TextSecure.LightNoActionBar" />
        <activity
            android:name="org.thoughtcrime.securesms.BlockedContactsActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@style/TextSecure.LightTheme" />
        <activity
            android:name="org.thoughtcrime.securesms.scribbles.StickerSelectActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@style/TextSecure.DarkTheme" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Session.DarkTheme" />
        <activity
            android:name="org.thoughtcrime.securesms.CreateProfileActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@style/TextSecure.LightRegistrationTheme"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name="org.thoughtcrime.securesms.ClearProfileAvatarActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:icon="@drawable/clear_profile_avatar"
            android:label="@string/AndroidManifest_remove_photo"
            android:theme="@style/Theme.AppCompat.Dialog.Alert">
            <intent-filter>
                <action android:name="org.thoughtcrime.securesms.action.CLEAR_PROFILE_PHOTO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.thoughtcrime.securesms.contactshare.ContactShareEditActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@style/TextSecure.LightTheme" />
        <activity
            android:name="org.thoughtcrime.securesms.contactshare.ContactNameEditActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@style/TextSecure.LightNoActionBar" />
        <activity
            android:name="org.thoughtcrime.securesms.contactshare.SharedContactDetailsActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:theme="@style/TextSecure.LightNoActionBar" />
        <activity
            android:name="org.thoughtcrime.securesms.ShortcutLauncherActivity"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
            android:exported="true"
            android:theme="@style/TextSecure.LightNoActionBar" />
        <service
            android:name="org.thoughtcrime.securesms.service.WebRtcCallService"
            android:enabled="true" />
        <service
            android:name="org.thoughtcrime.securesms.service.ApplicationMigrationService"
            android:enabled="true" />
        <service
            android:name="org.thoughtcrime.securesms.service.KeyCachingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="org.thoughtcrime.securesms.service.IncomingMessageObserver$ForegroundService"
            android:enabled="true" />
        <service
            android:name="org.thoughtcrime.securesms.service.QuickResponseService"
            android:exported="true"
            android:permission="android.permission.SEND_RESPOND_VIA_MESSAGE">
            <intent-filter>
                <action android:name="android.intent.action.RESPOND_VIA_MESSAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
        </service>
        <service
            android:name="org.thoughtcrime.securesms.service.AccountAuthenticatorService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name="org.thoughtcrime.securesms.service.DirectShareService"
            android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE">
            <intent-filter>
                <action android:name="android.service.chooser.ChooserTargetService" />
            </intent-filter>
        </service>
        <service android:name="org.thoughtcrime.securesms.service.GenericForegroundService" />

        <receiver
            android:name="org.thoughtcrime.securesms.service.SmsListener"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="1001">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_DELIVER" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.thoughtcrime.securesms.service.SmsDeliveryListener"
            android:exported="true">
            <intent-filter>
                <action android:name="org.thoughtcrime.securesms.services.MESSAGE_SENT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.thoughtcrime.securesms.service.MmsListener"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter android:priority="1001">
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_DELIVER" />

                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.thoughtcrime.securesms.notifications.MarkReadReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.thoughtcrime.securesms.notifications.CLEAR" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.thoughtcrime.securesms.notifications.RemoteReplyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.thoughtcrime.securesms.notifications.WEAR_REPLY" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.thoughtcrime.securesms.notifications.AndroidAutoHeardReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.thoughtcrime.securesms.notifications.ANDROID_AUTO_HEARD" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.thoughtcrime.securesms.notifications.AndroidAutoReplyReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.thoughtcrime.securesms.notifications.ANDROID_AUTO_REPLY" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.thoughtcrime.securesms.service.ExpirationListener" />

        <provider
            android:name="org.thoughtcrime.securesms.providers.PartProvider"
            android:authorities="network.loki.provider.securesms"
            android:exported="false"
            android:grantUriPermissions="true" />
        <provider
            android:name="org.thoughtcrime.securesms.providers.MmsBodyProvider"
            android:authorities="network.loki.provider.securesms.mms"
            android:exported="false"
            android:grantUriPermissions="true" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="network.loki.securesms.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>
        <provider
            android:name="org.thoughtcrime.securesms.database.DatabaseContentProviders$Conversation"
            android:authorities="network.loki.securesms.database.conversation"
            android:exported="false" />
        <provider
            android:name="org.thoughtcrime.securesms.database.DatabaseContentProviders$ConversationList"
            android:authorities="network.loki.securesms.database.conversationlist"
            android:exported="false" />
        <provider
            android:name="org.thoughtcrime.securesms.database.DatabaseContentProviders$Attachment"
            android:authorities="network.loki.securesms.database.attachment"
            android:exported="false" />
        <provider
            android:name="org.thoughtcrime.securesms.database.DatabaseContentProviders$Sticker"
            android:authorities="network.loki.securesms.database.sticker"
            android:exported="false" />
        <provider
            android:name="org.thoughtcrime.securesms.database.DatabaseContentProviders$StickerPack"
            android:authorities="network.loki.securesms.database.stickerpack"
            android:exported="false" />

        <receiver android:name="org.thoughtcrime.securesms.service.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="org.thoughtcrime.securesms.RESTART" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.thoughtcrime.securesms.service.DirectoryRefreshListener">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.thoughtcrime.securesms.service.RotateSignedPreKeyListener">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.thoughtcrime.securesms.service.RotateSenderCertificateListener">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.thoughtcrime.securesms.service.LocalBackupListener">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.thoughtcrime.securesms.service.PersistentConnectionBootListener">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.thoughtcrime.securesms.notifications.LocaleChangedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.thoughtcrime.securesms.notifications.MessageNotifier$ReminderReceiver">
            <intent-filter>
                <action android:name="org.thoughtcrime.securesms.MessageNotifier.REMINDER_ACTION" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.thoughtcrime.securesms.notifications.DeleteNotificationReceiver">
            <intent-filter>
                <action android:name="org.thoughtcrime.securesms.DELETE_NOTIFICATION" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.thoughtcrime.securesms.ExperienceUpgradeActivity$AppUpgradeReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.thoughtcrime.securesms.ExperienceUpgradeActivity.DISMISS_ACTION" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="org.thoughtcrime.securesms.service.PanicResponderListener"
            android:exported="true">
            <intent-filter>
                <action android:name="info.guardianproject.panic.action.TRIGGER" />
            </intent-filter>
        </receiver>
        <!-- Session -->
        <receiver android:name="org.thoughtcrime.securesms.loki.redesign.messaging.BackgroundPollWorker">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="org.thoughtcrime.securesms.loki.redesign.messaging.BackgroundPublicChatPollWorker">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- Session -->
        <service
            android:name="org.thoughtcrime.securesms.jobmanager.JobSchedulerScheduler$SystemService"
            android:enabled="@bool/enable_job_service"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:targetApi="26" />
        <service
            android:name="org.thoughtcrime.securesms.jobmanager.KeepAliveService"
            android:enabled="@bool/enable_alarm_manager" />

        <receiver
            android:name="org.thoughtcrime.securesms.jobmanager.AlarmManagerScheduler$RetryReceiver"
            android:enabled="@bool/enable_alarm_manager" /> <!-- Probably don't need this one -->
        <receiver
            android:name="org.thoughtcrime.securesms.jobmanager.BootReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false" />

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H"
            android:value="598.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W"
            android:value="632.0dip" />
        <meta-data
            android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H"
            android:value="598.0dip" />
    </application>

</manifest>