<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

  <application
      android:allowBackup="true"
      android:label="@string/app_name"
      android:supportsRtl="true">
    <activity android:name=".MainActivity"
        android:theme="@style/Theme.DebugLogs"
        android:windowSoftInputMode="stateAlwaysHidden|adjustNothing"
        android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <meta-data
        android:name="com.google.android.gms.wallet.api.enabled"
        android:value="true" />
  </application>

</manifest>
