CONFIGURE_ARGS="\
-DL_ENDIAN \
no-camellia \
no-capieng \
no-cast \
no-dtls1 \
no-gost \
no-gmp \
no-heartbeats \
no-idea \
no-jpake \
no-md2 \
no-mdc2 \
no-rc5 \
no-rdrand \
no-ripemd \
no-rfc3779 \
no-rsax \
no-sctp \
no-seed \
no-sha0 \
no-static_engine \
no-whirlpool \
no-zlib \
"

# configure arguments specific for 32-bit arch
CONFIGURE_ARGS_32="\
linux-generic32 \
"

# configure arguments specific for 64-bit arch
CONFIGURE_ARGS_64="\
linux-generic64 \
"

# configure arguments specific for static build
CONFIGURE_ARGS_STATIC="\
no-dso \
"

# unneeded directories
UNNEEDED_SOURCES="\
MacOS \
Netware \
VMS \
apps/demoCA \
apps/demoSRP \
apps/set \
bugs \
certs \
crypto/camellia \
crypto/cast \
crypto/idea \
crypto/md2 \
crypto/rc5 \
crypto/ripemd \
crypto/seed \
crypto/whrlpool \
demos \
doc \
engines \
ms \
os2 \
perl \
shlib \
test \
times \
tools \
util \
"

# unneeded files
UNNEEDED_SOURCES+="\
CHANGES \
CHANGES.SSLeay \
Configure \
FAQ \
INSTALL \
INSTALL.DJGPP \
INSTALL.MacOS \
INSTALL.NW \
INSTALL.OS2 \
INSTALL.VMS \
INSTALL.W32 \
INSTALL.W64 \
INSTALL.WCE \
LICENSE \
Makefile \
Makefile.org \
Makefile.shared \
NEWS \
PROBLEMS \
README \
README.ASN1 \
README.ENGINE \
apps/CA.com \
apps/Makefile \
apps/install-apps.com \
apps/makeapps.com \
apps/openssl-vms.cnf \
apps/ts.c \
apps/tsget \
apps/vms_decc_init.c \
config \
crypto/LPdir_vms.c \
crypto/Makefile \
crypto/aes/Makefile \
crypto/asn1/Makefile \
crypto/bf/INSTALL \
crypto/bf/Makefile \
crypto/bf/README \
crypto/bf/VERSION \
crypto/bf/asm/readme \
crypto/bf/bf_cbc.c \
crypto/bf/bf_opts.c \
crypto/bf/bfs.cpp \
crypto/bf/bfspeed.c \
crypto/bf/bftest.c \
crypto/bio/Makefile \
crypto/bio/bss_rtcp.c \
crypto/bn/Makefile \
crypto/bn/asm/vms.mar \
crypto/bn/bn_x931p.c \
crypto/bn/vms-helper.c \
crypto/buffer/Makefile \
crypto/cmac/Makefile \
crypto/cms/Makefile \
crypto/comp/Makefile \
crypto/conf/Makefile \
crypto/crypto-lib.com \
crypto/des/Makefile \
crypto/des/des-lib.com \
crypto/dh/Makefile \
crypto/dh/dh_prn.c \
crypto/dsa/Makefile \
crypto/dso/Makefile \
crypto/dso/dso_beos.c \
crypto/dso/dso_vms.c \
crypto/dso/dso_win32.c \
crypto/ec/Makefile \
crypto/ec/ecp_nistp224.c \
crypto/ec/ecp_nistp256.c \
crypto/ec/ecp_nistp521.c \
crypto/ec/ecp_nistputil.c \
crypto/ecdh/Makefile \
crypto/ecdsa/Makefile \
crypto/engine/Makefile \
crypto/engine/eng_rdrand.c \
crypto/engine/eng_rsax.c \
crypto/err/Makefile \
crypto/evp/Makefile \
crypto/evp/evp_fips.c \
crypto/evp/m_md2.c \
crypto/evp/m_sha.c \
crypto/fips_err.h \
crypto/fips_ers.c \
crypto/hmac/Makefile \
crypto/install-crypto.com \
crypto/jpake/Makefile \
crypto/krb5/Makefile \
crypto/lhash/Makefile \
crypto/md4/Makefile \
crypto/md5/Makefile \
crypto/mdc2/Makefile \
crypto/modes/Makefile \
crypto/modes/cts128.c \
crypto/modes/modes.h \
crypto/o_fips.c \
crypto/objects/Makefile \
crypto/ocsp/Makefile \
crypto/pem/Makefile \
crypto/pkcs12/Makefile \
crypto/pkcs7/Makefile \
crypto/pkcs7/bio_pk7.c \
crypto/ppccap.c \
crypto/pqueue/Makefile \
crypto/rand/Makefile \
crypto/rand/rand_vms.c \
crypto/rc2/Makefile \
crypto/rc4/Makefile \
crypto/rsa/Makefile \
crypto/sha/Makefile \
crypto/sha/sha_one.c \
crypto/srp/Makefile \
crypto/srp/srptest.c \
crypto/stack/Makefile \
crypto/store/Makefile \
crypto/threads/pthreads-vms.com \
crypto/threads/win32.bat \
crypto/ts/Makefile \
crypto/ts/ts.h \
crypto/ts/ts_asn1.c \
crypto/ts/ts_conf.c \
crypto/ts/ts_lib.c \
crypto/ts/ts_req_print.c \
crypto/ts/ts_req_utils.c \
crypto/ts/ts_rsp_print.c \
crypto/ts/ts_rsp_sign.c \
crypto/ts/ts_rsp_utils.c \
crypto/ts/ts_rsp_verify.c \
crypto/ts/ts_verify_ctx.c \
crypto/txt_db/Makefile \
crypto/ui/Makefile \
crypto/vms_rms.h
crypto/x509/Makefile \
crypto/x509v3/Makefile \
include/openssl/camellia.h \
include/openssl/cast.h \
include/openssl/idea.h \
include/openssl/mdc2.h \
include/openssl/seed.h \
include/openssl/whrlpool.h \
install.com \
makevms.com \
openssl.doxy \
openssl.spec \
ssl/Makefile \
ssl/heartbeat_test.c \
ssl/install-ssl.com \
ssl/ssl-lib.com \
ssl/ssl_task.c \
"

NEEDED_SOURCES="\
apps \
crypto \
e_os.h \
e_os2.h \
ssl \
include \
"

# Arch-specific compiler defines for crypto/ library.
#
OPENSSL_CRYPTO_DEFINES="\
NO_WINDOWS_BRAINDEATH \
"

OPENSSL_CRYPTO_DEFINES_arm="\
AES_ASM \
BSAES_ASM \
DES_UNROLL \
GHASH_ASM \
OPENSSL_BN_ASM_GF2m \
OPENSSL_BN_ASM_MONT \
OPENSSL_CPUID_OBJ \
SHA1_ASM \
SHA256_ASM \
SHA512_ASM \
"

OPENSSL_CRYPTO_DEFINES_arm64="\
DES_UNROLL \
OPENSSL_CPUID_OBJ \
SHA1_ASM \
SHA256_ASM \
SHA512_ASM \
"

OPENSSL_CRYPTO_DEFINES_mips="\
OPENSSL_BN_ASM_MONT \
AES_ASM \
SHA1_ASM \
SHA256_ASM \
"

OPENSSL_CRYPTO_DEFINES_x86="\
AES_ASM \
DES_PTR \
DES_RISC1 \
DES_UNROLL \
GHASH_ASM \
MD5_ASM \
OPENSSL_BN_ASM_GF2m \
OPENSSL_BN_ASM_MONT \
OPENSSL_BN_ASM_PART_WORDS \
OPENSSL_CPUID_OBJ \
OPENSSL_IA32_SSE2 \
RC4_INDEX \
RMD160_ASM \
SHA1_ASM \
SHA256_ASM \
SHA512_ASM \
VPAES_ASM \
"

OPENSSL_CRYPTO_DEFINES_x86_64="\
AES_ASM \
BSAES_ASM \
DES_UNROLL \
GHASH_ASM \
MD5_ASM \
OPENSSL_BN_ASM_GF2m \
OPENSSL_BN_ASM_MONT \
OPENSSL_BN_ASM_MONT5 \
OPENSSL_CPUID_OBJ \
OPENSSL_IA32_SSE2 \
SHA1_ASM \
SHA256_ASM \
SHA512_ASM \
VPAES_ASM \
"

OPENSSL_CRYPTO_INCLUDES="\
. \
include \
crypto \
crypto/asn1 \
crypto/evp \
crypto/modes \
include \
include/openssl \
"

OPENSSL_CRYPTO_SOURCES="\
crypto/cryptlib.c \
crypto/mem.c \
crypto/mem_clr.c \
crypto/mem_dbg.c \
crypto/cversion.c \
crypto/ex_data.c \
crypto/cpt_err.c \
crypto/ebcdic.c \
crypto/uid.c \
crypto/o_time.c \
crypto/o_str.c \
crypto/o_dir.c \
crypto/aes/aes_cbc.c \
crypto/aes/aes_cfb.c \
crypto/aes/aes_core.c \
crypto/aes/aes_ctr.c \
crypto/aes/aes_ecb.c \
crypto/aes/aes_misc.c \
crypto/aes/aes_ofb.c \
crypto/aes/aes_wrap.c \
crypto/asn1/a_bitstr.c \
crypto/asn1/a_bool.c \
crypto/asn1/a_bytes.c \
crypto/asn1/a_d2i_fp.c \
crypto/asn1/a_digest.c \
crypto/asn1/a_dup.c \
crypto/asn1/a_enum.c \
crypto/asn1/a_gentm.c \
crypto/asn1/a_i2d_fp.c \
crypto/asn1/a_int.c \
crypto/asn1/a_mbstr.c \
crypto/asn1/a_object.c \
crypto/asn1/a_octet.c \
crypto/asn1/a_print.c \
crypto/asn1/a_set.c \
crypto/asn1/a_sign.c \
crypto/asn1/a_strex.c \
crypto/asn1/a_strnid.c \
crypto/asn1/a_time.c \
crypto/asn1/a_type.c \
crypto/asn1/a_utctm.c \
crypto/asn1/a_utf8.c \
crypto/asn1/a_verify.c \
crypto/asn1/ameth_lib.c \
crypto/asn1/asn1_err.c \
crypto/asn1/asn1_gen.c \
crypto/asn1/asn1_lib.c \
crypto/asn1/asn1_par.c \
crypto/asn1/asn_mime.c \
crypto/asn1/asn_moid.c \
crypto/asn1/asn_pack.c \
crypto/asn1/bio_asn1.c \
crypto/asn1/bio_ndef.c \
crypto/asn1/d2i_pr.c \
crypto/asn1/d2i_pu.c \
crypto/asn1/evp_asn1.c \
crypto/asn1/f_enum.c \
crypto/asn1/f_int.c \
crypto/asn1/f_string.c \
crypto/asn1/i2d_pr.c \
crypto/asn1/i2d_pu.c \
crypto/asn1/n_pkey.c \
crypto/asn1/nsseq.c \
crypto/asn1/p5_pbe.c \
crypto/asn1/p5_pbev2.c \
crypto/asn1/p8_pkey.c \
crypto/asn1/t_bitst.c \
crypto/asn1/t_crl.c \
crypto/asn1/t_pkey.c \
crypto/asn1/t_req.c \
crypto/asn1/t_spki.c \
crypto/asn1/t_x509.c \
crypto/asn1/t_x509a.c \
crypto/asn1/tasn_dec.c \
crypto/asn1/tasn_enc.c \
crypto/asn1/tasn_fre.c \
crypto/asn1/tasn_new.c \
crypto/asn1/tasn_prn.c \
crypto/asn1/tasn_typ.c \
crypto/asn1/tasn_utl.c \
crypto/asn1/x_algor.c \
crypto/asn1/x_attrib.c \
crypto/asn1/x_bignum.c \
crypto/asn1/x_crl.c \
crypto/asn1/x_exten.c \
crypto/asn1/x_info.c \
crypto/asn1/x_long.c \
crypto/asn1/x_name.c \
crypto/asn1/x_nx509.c \
crypto/asn1/x_pkey.c \
crypto/asn1/x_pubkey.c \
crypto/asn1/x_req.c \
crypto/asn1/x_sig.c \
crypto/asn1/x_spki.c \
crypto/asn1/x_val.c \
crypto/asn1/x_x509.c \
crypto/asn1/x_x509a.c \
crypto/bf/bf_cfb64.c \
crypto/bf/bf_ecb.c \
crypto/bf/bf_enc.c \
crypto/bf/bf_ofb64.c \
crypto/bf/bf_skey.c \
crypto/bio/b_dump.c \
crypto/bio/b_print.c \
crypto/bio/b_sock.c \
crypto/bio/bf_buff.c \
crypto/bio/bf_nbio.c \
crypto/bio/bf_null.c \
crypto/bio/bio_cb.c \
crypto/bio/bio_err.c \
crypto/bio/bio_lib.c \
crypto/bio/bss_acpt.c \
crypto/bio/bss_bio.c \
crypto/bio/bss_conn.c \
crypto/bio/bss_dgram.c \
crypto/bio/bss_fd.c \
crypto/bio/bss_file.c \
crypto/bio/bss_log.c \
crypto/bio/bss_mem.c \
crypto/bio/bss_null.c \
crypto/bio/bss_sock.c \
crypto/bn/bn_add.c \
crypto/bn/bn_asm.c \
crypto/bn/bn_blind.c \
crypto/bn/bn_const.c \
crypto/bn/bn_ctx.c \
crypto/bn/bn_div.c \
crypto/bn/bn_err.c \
crypto/bn/bn_exp.c \
crypto/bn/bn_exp2.c \
crypto/bn/bn_gcd.c \
crypto/bn/bn_gf2m.c \
crypto/bn/bn_kron.c \
crypto/bn/bn_lib.c \
crypto/bn/bn_mod.c \
crypto/bn/bn_mont.c \
crypto/bn/bn_mpi.c \
crypto/bn/bn_mul.c \
crypto/bn/bn_nist.c \
crypto/bn/bn_prime.c \
crypto/bn/bn_print.c \
crypto/bn/bn_rand.c \
crypto/bn/bn_recp.c \
crypto/bn/bn_shift.c \
crypto/bn/bn_sqr.c \
crypto/bn/bn_sqrt.c \
crypto/bn/bn_word.c \
crypto/buffer/buf_err.c \
crypto/buffer/buf_str.c \
crypto/buffer/buffer.c \
crypto/cmac/cm_ameth.c \
crypto/cmac/cm_pmeth.c \
crypto/cmac/cmac.c \
crypto/cms/cms_asn1.c \
crypto/cms/cms_att.c \
crypto/cms/cms_cd.c \
crypto/cms/cms_dd.c \
crypto/cms/cms_enc.c \
crypto/cms/cms_env.c \
crypto/cms/cms_err.c \
crypto/cms/cms_ess.c \
crypto/cms/cms_io.c \
crypto/cms/cms_lib.c \
crypto/cms/cms_pwri.c \
crypto/cms/cms_sd.c \
crypto/cms/cms_smime.c \
crypto/comp/c_rle.c \
crypto/comp/c_zlib.c \
crypto/comp/comp_err.c \
crypto/comp/comp_lib.c \
crypto/conf/conf_api.c \
crypto/conf/conf_def.c \
crypto/conf/conf_err.c \
crypto/conf/conf_lib.c \
crypto/conf/conf_mall.c \
crypto/conf/conf_mod.c \
crypto/conf/conf_sap.c \
crypto/des/cbc_cksm.c \
crypto/des/cbc_enc.c \
crypto/des/cfb64ede.c \
crypto/des/cfb64enc.c \
crypto/des/cfb_enc.c \
crypto/des/des_enc.c \
crypto/des/des_old.c \
crypto/des/des_old2.c \
crypto/des/ecb3_enc.c \
crypto/des/ecb_enc.c \
crypto/des/ede_cbcm_enc.c \
crypto/des/enc_read.c \
crypto/des/enc_writ.c \
crypto/des/fcrypt.c \
crypto/des/fcrypt_b.c \
crypto/des/ofb64ede.c \
crypto/des/ofb64enc.c \
crypto/des/ofb_enc.c \
crypto/des/pcbc_enc.c \
crypto/des/qud_cksm.c \
crypto/des/rand_key.c \
crypto/des/read2pwd.c \
crypto/des/rpc_enc.c \
crypto/des/set_key.c \
crypto/des/str2key.c \
crypto/des/xcbc_enc.c \
crypto/dh/dh_ameth.c \
crypto/dh/dh_asn1.c \
crypto/dh/dh_check.c \
crypto/dh/dh_depr.c \
crypto/dh/dh_err.c \
crypto/dh/dh_gen.c \
crypto/dh/dh_key.c \
crypto/dh/dh_lib.c \
crypto/dh/dh_pmeth.c \
crypto/dsa/dsa_ameth.c \
crypto/dsa/dsa_asn1.c \
crypto/dsa/dsa_depr.c \
crypto/dsa/dsa_err.c \
crypto/dsa/dsa_gen.c \
crypto/dsa/dsa_key.c \
crypto/dsa/dsa_lib.c \
crypto/dsa/dsa_ossl.c \
crypto/dsa/dsa_pmeth.c \
crypto/dsa/dsa_prn.c \
crypto/dsa/dsa_sign.c \
crypto/dsa/dsa_vrf.c \
crypto/dso/dso_dl.c \
crypto/dso/dso_dlfcn.c \
crypto/dso/dso_err.c \
crypto/dso/dso_lib.c \
crypto/dso/dso_null.c \
crypto/dso/dso_openssl.c \
crypto/ec/ec2_mult.c \
crypto/ec/ec2_oct.c \
crypto/ec/ec2_smpl.c \
crypto/ec/ec_ameth.c \
crypto/ec/ec_asn1.c \
crypto/ec/ec_check.c \
crypto/ec/ec_curve.c \
crypto/ec/ec_cvt.c \
crypto/ec/ec_err.c \
crypto/ec/ec_key.c \
crypto/ec/ec_lib.c \
crypto/ec/ec_mult.c \
crypto/ec/ec_oct.c \
crypto/ec/ec_pmeth.c \
crypto/ec/ec_print.c \
crypto/ec/eck_prn.c \
crypto/ec/ecp_mont.c \
crypto/ec/ecp_nist.c \
crypto/ec/ecp_oct.c \
crypto/ec/ecp_smpl.c \
crypto/ecdh/ech_err.c \
crypto/ecdh/ech_key.c \
crypto/ecdh/ech_lib.c \
crypto/ecdh/ech_ossl.c \
crypto/ecdsa/ecs_asn1.c \
crypto/ecdsa/ecs_err.c \
crypto/ecdsa/ecs_lib.c \
crypto/ecdsa/ecs_ossl.c \
crypto/ecdsa/ecs_sign.c \
crypto/ecdsa/ecs_vrf.c \
crypto/engine/eng_all.c \
crypto/engine/eng_cnf.c \
crypto/engine/eng_ctrl.c \
crypto/engine/eng_dyn.c \
crypto/engine/eng_err.c \
crypto/engine/eng_fat.c \
crypto/engine/eng_init.c \
crypto/engine/eng_lib.c \
crypto/engine/eng_list.c \
crypto/engine/eng_pkey.c \
crypto/engine/eng_table.c \
crypto/engine/tb_asnmth.c \
crypto/engine/tb_cipher.c \
crypto/engine/tb_dh.c \
crypto/engine/tb_digest.c \
crypto/engine/tb_dsa.c \
crypto/engine/tb_ecdh.c \
crypto/engine/tb_ecdsa.c \
crypto/engine/tb_pkmeth.c \
crypto/engine/tb_rand.c \
crypto/engine/tb_rsa.c \
crypto/engine/tb_store.c \
crypto/err/err.c \
crypto/err/err_all.c \
crypto/err/err_prn.c \
crypto/evp/bio_b64.c \
crypto/evp/bio_enc.c \
crypto/evp/bio_md.c \
crypto/evp/bio_ok.c \
crypto/evp/c_all.c \
crypto/evp/c_allc.c \
crypto/evp/c_alld.c \
crypto/evp/digest.c \
crypto/evp/e_aes.c \
crypto/evp/e_aes_cbc_hmac_sha1.c \
crypto/evp/e_bf.c \
crypto/evp/e_des.c \
crypto/evp/e_des3.c \
crypto/evp/e_null.c \
crypto/evp/e_old.c \
crypto/evp/e_rc2.c \
crypto/evp/e_rc4.c \
crypto/evp/e_rc4_hmac_md5.c \
crypto/evp/e_rc5.c \
crypto/evp/e_xcbc_d.c \
crypto/evp/encode.c \
crypto/evp/evp_acnf.c \
crypto/evp/evp_cnf.c \
crypto/evp/evp_enc.c \
crypto/evp/evp_err.c \
crypto/evp/evp_key.c \
crypto/evp/evp_lib.c \
crypto/evp/evp_pbe.c \
crypto/evp/evp_pkey.c \
crypto/evp/m_dss.c \
crypto/evp/m_dss1.c \
crypto/evp/m_ecdsa.c \
crypto/evp/m_md4.c \
crypto/evp/m_md5.c \
crypto/evp/m_mdc2.c \
crypto/evp/m_null.c \
crypto/evp/m_sha1.c \
crypto/evp/m_sigver.c \
crypto/evp/m_wp.c \
crypto/evp/names.c \
crypto/evp/p5_crpt.c \
crypto/evp/p5_crpt2.c \
crypto/evp/p_dec.c \
crypto/evp/p_enc.c \
crypto/evp/p_lib.c \
crypto/evp/p_open.c \
crypto/evp/p_seal.c \
crypto/evp/p_sign.c \
crypto/evp/p_verify.c \
crypto/evp/pmeth_fn.c \
crypto/evp/pmeth_gn.c \
crypto/evp/pmeth_lib.c \
crypto/hmac/hm_ameth.c \
crypto/hmac/hm_pmeth.c \
crypto/hmac/hmac.c \
crypto/krb5/krb5_asn.c \
crypto/lhash/lh_stats.c \
crypto/lhash/lhash.c \
crypto/md4/md4_dgst.c \
crypto/md4/md4_one.c \
crypto/md5/md5_dgst.c \
crypto/md5/md5_one.c \
crypto/modes/cbc128.c \
crypto/modes/ccm128.c \
crypto/modes/cfb128.c \
crypto/modes/ctr128.c \
crypto/modes/gcm128.c \
crypto/modes/ofb128.c \
crypto/modes/xts128.c \
crypto/o_init.c \
crypto/objects/o_names.c \
crypto/objects/obj_dat.c \
crypto/objects/obj_err.c \
crypto/objects/obj_lib.c \
crypto/objects/obj_xref.c \
crypto/ocsp/ocsp_asn.c \
crypto/ocsp/ocsp_cl.c \
crypto/ocsp/ocsp_err.c \
crypto/ocsp/ocsp_ext.c \
crypto/ocsp/ocsp_ht.c \
crypto/ocsp/ocsp_lib.c \
crypto/ocsp/ocsp_prn.c \
crypto/ocsp/ocsp_srv.c \
crypto/ocsp/ocsp_vfy.c \
crypto/pem/pem_all.c \
crypto/pem/pem_err.c \
crypto/pem/pem_info.c \
crypto/pem/pem_lib.c \
crypto/pem/pem_oth.c \
crypto/pem/pem_pk8.c \
crypto/pem/pem_pkey.c \
crypto/pem/pem_seal.c \
crypto/pem/pem_sign.c \
crypto/pem/pem_x509.c \
crypto/pem/pem_xaux.c \
crypto/pem/pvkfmt.c \
crypto/pkcs12/p12_add.c \
crypto/pkcs12/p12_asn.c \
crypto/pkcs12/p12_attr.c \
crypto/pkcs12/p12_crpt.c \
crypto/pkcs12/p12_crt.c \
crypto/pkcs12/p12_decr.c \
crypto/pkcs12/p12_init.c \
crypto/pkcs12/p12_key.c \
crypto/pkcs12/p12_kiss.c \
crypto/pkcs12/p12_mutl.c \
crypto/pkcs12/p12_npas.c \
crypto/pkcs12/p12_p8d.c \
crypto/pkcs12/p12_p8e.c \
crypto/pkcs12/p12_utl.c \
crypto/pkcs12/pk12err.c \
crypto/pkcs7/pk7_asn1.c \
crypto/pkcs7/pk7_attr.c \
crypto/pkcs7/pk7_doit.c \
crypto/pkcs7/pk7_lib.c \
crypto/pkcs7/pk7_mime.c \
crypto/pkcs7/pk7_smime.c \
crypto/pkcs7/pkcs7err.c \
crypto/pqueue/pqueue.c \
crypto/rand/md_rand.c \
crypto/rand/rand_egd.c \
crypto/rand/rand_err.c \
crypto/rand/rand_lib.c \
crypto/rand/rand_unix.c \
crypto/rand/rand_win.c \
crypto/rand/randfile.c \
crypto/rc2/rc2_cbc.c \
crypto/rc2/rc2_ecb.c \
crypto/rc2/rc2_skey.c \
crypto/rc2/rc2cfb64.c \
crypto/rc2/rc2ofb64.c \
crypto/rc4/rc4_enc.c \
crypto/rc4/rc4_skey.c \
crypto/rc4/rc4_utl.c \
crypto/rsa/rsa_ameth.c \
crypto/rsa/rsa_asn1.c \
crypto/rsa/rsa_chk.c \
crypto/rsa/rsa_crpt.c \
crypto/rsa/rsa_eay.c \
crypto/rsa/rsa_err.c \
crypto/rsa/rsa_gen.c \
crypto/rsa/rsa_lib.c \
crypto/rsa/rsa_none.c \
crypto/rsa/rsa_null.c \
crypto/rsa/rsa_oaep.c \
crypto/rsa/rsa_pk1.c \
crypto/rsa/rsa_pmeth.c \
crypto/rsa/rsa_prn.c \
crypto/rsa/rsa_pss.c \
crypto/rsa/rsa_saos.c \
crypto/rsa/rsa_sign.c \
crypto/rsa/rsa_ssl.c \
crypto/rsa/rsa_x931.c \
crypto/sha/sha1_one.c \
crypto/sha/sha1dgst.c \
crypto/sha/sha256.c \
crypto/sha/sha512.c \
crypto/sha/sha_dgst.c \
crypto/srp/srp_lib.c \
crypto/srp/srp_vfy.c \
crypto/stack/stack.c \
crypto/ts/ts_err.c \
crypto/txt_db/txt_db.c \
crypto/ui/ui_compat.c \
crypto/ui/ui_err.c \
crypto/ui/ui_lib.c \
crypto/ui/ui_openssl.c \
crypto/ui/ui_util.c \
crypto/x509/by_dir.c \
crypto/x509/by_file.c \
crypto/x509/x509_att.c \
crypto/x509/x509_cmp.c \
crypto/x509/x509_d2.c \
crypto/x509/x509_def.c \
crypto/x509/x509_err.c \
crypto/x509/x509_ext.c \
crypto/x509/x509_lu.c \
crypto/x509/x509_obj.c \
crypto/x509/x509_r2x.c \
crypto/x509/x509_req.c \
crypto/x509/x509_set.c \
crypto/x509/x509_trs.c \
crypto/x509/x509_txt.c \
crypto/x509/x509_v3.c \
crypto/x509/x509_vfy.c \
crypto/x509/x509_vpm.c \
crypto/x509/x509cset.c \
crypto/x509/x509name.c \
crypto/x509/x509rset.c \
crypto/x509/x509spki.c \
crypto/x509/x509type.c \
crypto/x509/x_all.c \
crypto/x509v3/pcy_cache.c \
crypto/x509v3/pcy_data.c \
crypto/x509v3/pcy_lib.c \
crypto/x509v3/pcy_map.c \
crypto/x509v3/pcy_node.c \
crypto/x509v3/pcy_tree.c \
crypto/x509v3/v3_akey.c \
crypto/x509v3/v3_akeya.c \
crypto/x509v3/v3_alt.c \
crypto/x509v3/v3_bcons.c \
crypto/x509v3/v3_bitst.c \
crypto/x509v3/v3_conf.c \
crypto/x509v3/v3_cpols.c \
crypto/x509v3/v3_crld.c \
crypto/x509v3/v3_enum.c \
crypto/x509v3/v3_extku.c \
crypto/x509v3/v3_genn.c \
crypto/x509v3/v3_ia5.c \
crypto/x509v3/v3_info.c \
crypto/x509v3/v3_int.c \
crypto/x509v3/v3_lib.c \
crypto/x509v3/v3_ncons.c \
crypto/x509v3/v3_ocsp.c \
crypto/x509v3/v3_pci.c \
crypto/x509v3/v3_pcia.c \
crypto/x509v3/v3_pcons.c \
crypto/x509v3/v3_pku.c \
crypto/x509v3/v3_pmaps.c \
crypto/x509v3/v3_prn.c \
crypto/x509v3/v3_purp.c \
crypto/x509v3/v3_skey.c \
crypto/x509v3/v3_sxnet.c \
crypto/x509v3/v3_utl.c \
crypto/x509v3/v3err.c \
"

OPENSSL_CRYPTO_SOURCES_arm="\
crypto/aes/asm/aes-armv4.S \
crypto/aes/asm/aesv8-armx.S \
crypto/aes/asm/bsaes-armv7.S \
crypto/armcap.c \
crypto/armv4cpuid.S \
crypto/bn/asm/armv4-gf2m.S \
crypto/bn/asm/armv4-mont.S \
crypto/modes/asm/ghash-armv4.S \
crypto/modes/asm/ghashv8-armx.S \
crypto/sha/asm/sha1-armv4-large.S \
crypto/sha/asm/sha256-armv4.S \
crypto/sha/asm/sha512-armv4.S \
"

OPENSSL_CRYPTO_SOURCES_EXCLUDES_arm="\
crypto/aes/aes_core.c \
crypto/mem_clr.c \
"

OPENSSL_CRYPTO_SOURCES_arm64="\
crypto/armcap.c \
crypto/arm64cpuid.S \
crypto/aes/asm/aesv8-armx-64.S \
crypto/modes/asm/ghashv8-armx-64.S \
crypto/sha/asm/sha1-armv8.S \
crypto/sha/asm/sha256-armv8.S \
crypto/sha/asm/sha512-armv8.S \
"

OPENSSL_CRYPTO_SOURCES_EXCLUDES_arm64="\
"

OPENSSL_CRYPTO_SOURCES_mips="\
crypto/aes/asm/aes-mips.S \
crypto/bn/asm/bn-mips.S \
crypto/bn/asm/mips-mont.S \
crypto/sha/asm/sha1-mips.S \
crypto/sha/asm/sha256-mips.S \
"

OPENSSL_CRYPTO_SOURCES_EXCLUDES_mips="\
crypto/aes/aes_core.c \
crypto/bn/bn_asm.c \
"

OPENSSL_CRYPTO_SOURCES_x86="\
crypto/aes/asm/aes-586.S \
crypto/aes/asm/aesni-x86.S \
crypto/aes/asm/vpaes-x86.S \
crypto/bf/asm/bf-586.S \
crypto/bn/asm/bn-586.S \
crypto/bn/asm/co-586.S \
crypto/bn/asm/x86-gf2m.S \
crypto/bn/asm/x86-mont.S \
crypto/des/asm/crypt586.S \
crypto/des/asm/des-586.S \
crypto/md5/asm/md5-586.S \
crypto/modes/asm/ghash-x86.S \
crypto/sha/asm/sha1-586.S \
crypto/sha/asm/sha256-586.S \
crypto/sha/asm/sha512-586.S \
crypto/x86cpuid.S \
"

OPENSSL_CRYPTO_SOURCES_EXCLUDES_x86="\
crypto/aes/aes_core.c \
crypto/aes/aes_cbc.c \
crypto/bf/bf_enc.c \
crypto/bn/bn_asm.c \
crypto/des/des_enc.c \
crypto/des/fcrypt_b.c \
crypto/mem_clr.c \
"

OPENSSL_CRYPTO_SOURCES_x86_64="\
crypto/aes/asm/aes-x86_64.S \
crypto/aes/asm/aesni-x86_64.S \
crypto/aes/asm/aesni-sha1-x86_64.S \
crypto/aes/asm/bsaes-x86_64.S \
crypto/aes/asm/vpaes-x86_64.S \
crypto/bn/asm/modexp512-x86_64.S \
crypto/bn/asm/x86_64-gcc.c \
crypto/bn/asm/x86_64-gf2m.S \
crypto/bn/asm/x86_64-mont.S \
crypto/bn/asm/x86_64-mont5.S \
crypto/md5/asm/md5-x86_64.S \
crypto/modes/asm/ghash-x86_64.S \
crypto/rc4/asm/rc4-md5-x86_64.S \
crypto/rc4/asm/rc4-x86_64.S \
crypto/sha/asm/sha1-x86_64.S \
crypto/sha/asm/sha256-x86_64.S \
crypto/sha/asm/sha512-x86_64.S \
crypto/x86_64cpuid.S \
"

OPENSSL_CRYPTO_SOURCES_EXCLUDES_x86_64="\
crypto/aes/aes_cbc.c \
crypto/aes/aes_core.c \
crypto/bn/bn_asm.c \
crypto/mem_clr.c \
crypto/rc4/rc4_enc.c \
crypto/rc4/rc4_skey.c \
"

OPENSSL_SSL_INCLUDES="\
. \
include \
crypto \
"

OPENSSL_SSL_SOURCES="\
ssl/bio_ssl.c \
ssl/d1_both.c \
ssl/d1_enc.c \
ssl/d1_lib.c \
ssl/d1_pkt.c \
ssl/d1_srtp.c \
ssl/kssl.c \
ssl/s23_clnt.c \
ssl/s23_lib.c \
ssl/s23_meth.c \
ssl/s23_pkt.c \
ssl/s23_srvr.c \
ssl/s2_clnt.c \
ssl/s2_enc.c \
ssl/s2_lib.c \
ssl/s2_meth.c \
ssl/s2_pkt.c \
ssl/s2_srvr.c \
ssl/s3_both.c \
ssl/s3_cbc.c \
ssl/s3_clnt.c \
ssl/s3_enc.c \
ssl/s3_lib.c \
ssl/s3_meth.c \
ssl/s3_pkt.c \
ssl/s3_srvr.c \
ssl/ssl_algs.c \
ssl/ssl_asn1.c \
ssl/ssl_cert.c \
ssl/ssl_ciph.c \
ssl/ssl_err.c \
ssl/ssl_err2.c \
ssl/ssl_lib.c \
ssl/ssl_rsa.c \
ssl/ssl_sess.c \
ssl/ssl_stat.c \
ssl/ssl_txt.c \
ssl/t1_clnt.c \
ssl/t1_enc.c \
ssl/t1_lib.c \
ssl/t1_meth.c \
ssl/t1_reneg.c \
ssl/t1_srvr.c \
ssl/tls_srp.c \
"

OPENSSL_APPS_DEFINES="\
MONOLITH \
"

OPENSSL_APPS_INCLUDES="\
. \
include \
"

OPENSSL_APPS_SOURCES="\
apps/app_rand.c \
apps/apps.c \
apps/asn1pars.c \
apps/ca.c \
apps/ciphers.c \
apps/cms.c \
apps/crl.c \
apps/crl2p7.c \
apps/dgst.c \
apps/dh.c \
apps/dhparam.c \
apps/dsa.c \
apps/dsaparam.c \
apps/ecparam.c \
apps/ec.c \
apps/enc.c \
apps/engine.c \
apps/errstr.c \
apps/gendh.c \
apps/gendsa.c \
apps/genpkey.c \
apps/genrsa.c \
apps/nseq.c \
apps/ocsp.c \
apps/openssl.c \
apps/passwd.c \
apps/pkcs12.c \
apps/pkcs7.c \
apps/pkcs8.c \
apps/pkey.c \
apps/pkeyparam.c \
apps/pkeyutl.c \
apps/prime.c \
apps/rand.c \
apps/req.c \
apps/rsa.c \
apps/rsautl.c \
apps/s_cb.c \
apps/s_client.c \
apps/s_server.c \
apps/s_socket.c \
apps/s_time.c \
apps/sess_id.c \
apps/smime.c \
apps/speed.c \
apps/spkac.c \
apps/srp.c \
apps/verify.c \
apps/version.c \
apps/x509.c \
"

source ./openssl.trusty.config
