<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <profileable android:shell="true" />

        <activity android:name="org.signal.benchmark.BenchmarkSetupActivity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Signal.DayNight.NoActionBar"
            android:windowSoftInputMode="stateHidden"
            android:exported="true"
            android:configChanges="touchscreen|keyboard|keyboardHidden|orientation|screenLayout|screenSize"/>

    </application>

</manifest>