<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name=".RegistrationApplication"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="Registration Sample"
    android:theme="@android:style/Theme.Material.NoActionBar"
    android:supportsRtl="true">

    <!-- Disable Firebase Analytics -->
    <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true" />
    <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false" />

    <activity
      android:name=".MainActivity"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <!-- FCM Service for receiving push challenges -->
    <service
      android:name=".fcm.FcmReceiveService"
      android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>
  </application>

</manifest>
